.new-tweet {
  margin: 0 30px;
  padding: 0 10px 10px;
  border: 2px #ddd solid;
  border-radius: 5px;
  background-color: #eee;
}

.new-tweet h2 {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

.new-tweet .counter {
  float: right;
  padding-right: 10px;
  font-style: italic;
}

.new-tweet .counter.over-limit {
  color: red;
}

.new-tweet {
  display: none;
}